@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thomas Rogozinski<br />
    <abbr title="Phone">P:</abbr>
    .... ... ...
</address>

<address>
    <strong>Company Email:</strong>   <a href="mailto:Company@example.com">thomas@xxx.com</a><br />
    <strong>Private Email:</strong> <a href="mailto:Private@example.com">thomas@xxx.com</a>
</address>