@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample Mulithreading Web App</h1>
    <p class="lead">
        Sample Multithreading Web Application presents variety of multithreading techniques as well as SignalR ASP.Net library which
        allows bidirectional communication between server and client app.</br>
        Demos are hosted in web environment to add some level of complexity to plain multithreading operations.
        Level of difficulty is raised by necessity to develop web based client/server communication channel.
    </p>
    <p><a href="http://www.asp.net/signalr" class="btn btn-primary btn-large">Learn more about SignalR &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Multithreading</h2>
        <p>
            Demo which presents various technics used in multithreaded environment. It shows how to start, stop, join the thread.
            It shows how to synchronize threads in order to access common resources.
            It presents how to correctly use thread pool and waithandles: monitor, mutex, auto/manualresetevent, synchronized tables.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Chat</h2>
        <p>Demo which shows how to use SignalR to create a real-time chat application.</p>
    </div>
    <div class="col-md-4">
        <h2>Progress</h2>
        <p>Demo of a progress bar built using SignalR library as well JQueryUI progressbar interface.</p>
    </div>
</div>